.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, #0d0d1a, #150025);
    z-index: 9999;
    opacity: 1;
    transform: scale(1.05);
    backdrop-filter: blur(6px);
    transition:
        opacity 1s ease-in-out,
        transform 1s ease-in-out,
        backdrop-filter 1s ease-in-out;
    pointer-events: all;
}

.page-overlay.hidden {
    opacity: 0;
    transform: scale(1);
    backdrop-filter: blur(0);
    pointer-events: none;
}

.page-overlay.hidden~main {
    transform: scale(1);
}

.section,
.btn,
.accordion-header,
.toast {
    transition: all 0.3s ease-in-out;
}