.progress-container {
    width: 50%;
    height: 30px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    place-items: center;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
}